#header1
{
	color:#ff0000;
	text-align:center;
}
#header2
{
	color:#0000ff;
	text-align:center;
}
button
{
	color:#0000ff;
	background-color:yellow;
	display:block;
	margin:auto;
}
body{
	background-color:black;
}
p{
	text-align: center;
	color:white;
}
